/* #Global
================================================== */
body {
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
}

/* #Text
================================================== */
.text-orange {
  color: #F04F23;
}

.text-gray {
  color: #818181;
}

.text-red {
  color: #D32C25;
}

/* #Btn
================================================== */
.btn {
  height: 2.6vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .88vw;
  padding: 0 2.35vw;
  border: 1px solid transparent;
}

.btn-primary {
  color: white;
  background-color: #F04F23;
}

.btn.rounded {
  border-radius: 500px;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 10.66vw;
    font-size: 4.26vw;
    padding: 0 16vw;
  }
}

/* #Link
================================================== */
.link {
  display: inline-flex;
  align-items: center;
}

.link img {
  width: 2vw;
  margin-right: -.3vw;
}

@media (max-width: 1023.98px) {
  .link img {
    width: 8vw;
    margin-right: -1vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet {
  width: .88vw;
  height: .88vw;
  background: transparent;
  opacity: 1;
  border: 1px solid transparent;
  position: relative;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .3vw;
  height: .3vw;
  background-color: #D8D8D8;
  border-radius: 50%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .25vw;
}

.swiper-pagination-bullet-active {
  border: 1px solid #F04F23;
}

.swiper-pagination-bullet-active::after {
  background-color: #F04F23;
}

@media (max-width: 1023.98px) {
  .swiper-pagination-bullet {
    width: 4vw;
    height: 4vw;
  }

  .swiper-pagination-bullet::after {
    width: 1.6vw;
    height: 1.6vw;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1vw;
  }
}

/* #Subheading
================================================== */
.subheading {
  display: flex;
  align-items: center;
}

.subheading .line {
  height: 2px;
  width: 1.5vw;
  background-color: #F04F23;
  margin-left: .55vw;
}

@media (max-width: 1023.98px) {
  .subheading .line {
    width: 5.33vw;
    margin-left: 2vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 1.22vw 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.header .logo img {
  width: 10.9vw;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.header-links a {
  border-bottom: 1px solid transparent;
  padding-bottom: .75vw;
}

.header-links a.active {
  border-bottom: 1px solid #F04F23;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 3.73vw 0;
  }

  .header .container {
    width: 90%;
  }

  .header .logo img {
    width: 33.33vw;
  }

  .header-links,
  .header-contact {
    display: none;
  }

  .header-hamburger img {
    width: 8vw;
  }
}

/* #Banner
================================================== */
.banner {
  margin-top: 5.2vw;
  color: white;
  position: relative;
  background-color: #081528;
}

.banner-slider .swiper-slide {
  position: relative;
}

.banner .wrapper {
  position: relative;
}

/* Text */
.banner.banner-slider .text {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 10.4vw;
  transform: translateY(-50%);
  width: 39vw;
}

.banner .text {
  position: absolute;
  z-index: 1;
  top: 33%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 50%;
}

.longi-page .banner .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.longi-page .banner .logo {
  margin-bottom: .5vw;
}

.longi-page .banner .logo img {
  width: 13.3vw;
}

.banner h1 {
  line-height: 1.16;
  margin-bottom: .5vw;
}

.banner .logo {
  margin-bottom: 5.2vw;
}

.banner .logo img {
  width: 8.33vw;
}

/* Img */
.banner .img,
.banner .img img,
.banner .img picture,
.banner .img video {
  width: 100%;
  height: 41.14vw;
  object-fit: cover;
  object-position: center;
}

.banner .img {
  position: relative;
}

.banner.banner-slider .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #081528, transparent);
}

.banner .swiper-pagination {
  position: absolute;
  right: 10.4vw;
  bottom: 3.125vw;
  text-align: right;
}

.banner .scroll {
  position: absolute;
  left: 2.25vw;
  bottom: 1.7vw;
  z-index: 20;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.banner .scroll a {
  display: flex;
  align-items: center;
}

.banner .scroll .line {
  display: block;
  height: 1px;
  width: 7.8vw;
  background-color: white;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .banner {
    margin-top: 16vw;
  }

  /* Text */
  .banner .text,
  .banner.banner-slider .text {
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    width: 78%;
    text-align: center;
  }

  .banner h1 {
    margin-bottom: 2vw;
  }

  .banner .logo {
    margin: 0 auto 6.66vw auto;
    display: flex;
    justify-content: center;
  }

  .banner .logo img {
    width: 28.66vw;
  }

  /* Img */
  .banner .img,
  .banner .img img,
  .banner .img picture,
  .banner .img video {
    height: 132vw;
  }

  .banner .swiper-pagination {
    right: 0;
    bottom: 8.66vw;
    text-align: center;
  }

  .banner .scroll {
    left: 7vw;
    bottom: 6.66vw;
  }

  .banner.banner-slider .scroll {
    bottom: -12.66vw;
  }

  .banner .scroll a {
    display: flex;
    align-items: center;
  }

  .banner .scroll .line {
    width: 25.46vw;
  }

  /* Longi Page */
  .longi-page .banner .text {
    top: 42%;
  }
  
  .longi-page .banner .logo {
    margin-bottom: 1vw;
  }
  
  .longi-page .banner .logo img {
    width: 28.66vw;
  }
}

/* #Home Benefits
================================================== */
.home-benefits {
  background-color: #F7F7F8;
  overflow: hidden;
  padding-bottom: 4.6vw;
}

.home-benefits .container {
  width: 79%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -8.85vw;
}

/* Text */
.home-benefits .text {
  flex: 0 0 29.7vw;
}

.home-benefits h2 {
  margin: .7vw 0;
}

.home-benefits .text>p {
  margin-bottom: 1.5vw;
}

.home-benefits ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1.3vw -1vw;
}

.home-benefits ul li {
  flex: 0 0 50%;
  display: flex;
  padding: 1.3vw 1vw;
}

.home-benefits ul .icon {
  flex: 0 0 3.43vw;
  margin-left: 1.2vw;
}

.home-benefits ul .icon img {
  width: 100%;
}

.home-benefits .logo img {
  width: 10.9vw;
}

/* Img */
.home-benefits .img {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  flex: 0 0 37.81vw;
  position: relative;
}

.home-benefits .img img {
  width: 100%;
  height: 32.55vw;
  object-fit: cover;
  object-position: center;
}

.home-benefits .swiper-pagination {
  bottom: -2.6vw;
}

/* Bg */
.home-benefits .bg,
.home-benefits .bg img,
.home-benefits .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-benefits {
    padding-bottom: 12vw;
  }

  .home-benefits .container {
    width: 90%;
    display: block;
    margin-top: -8vw;
  }

  /* Text */
  .home-benefits .text {
    flex: 0;
  }

  .home-benefits .logo img {
    width: 31.73vw;
  }

  .home-benefits h2 {
    margin: 2vw 0 4vw 0;
  }

  .home-benefits .text>p {
    margin-bottom: 6vw;
  }

  .home-benefits ul {
    margin: -3.33vw;
    text-align: center;
  }

  .home-benefits ul li {
    padding: 3.33vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .home-benefits ul .icon {
    flex: 0;
    width: 12vw;
    margin-left: 1.2vw;
  }

  .home-benefits ul .icon img {
    width: 100%;
  }

  /* Img */
  .home-benefits .img {
    flex: 0;
    margin-top: 12vw;
  }

  .home-benefits .img img {
    height: 83.33vw;
  }

  .home-benefits .swiper-pagination {
    bottom: -9.33vw;
  }
}

/* #Home Features
================================================== */
.home-features {
  position: relative;
}

.home-features .container {
  width: 79%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Text */
.home-features .text {
  color: white;
  width: 33.33vw;
  margin-right: auto;
  padding-left: 4vw;
}

.home-features .logo img {
  width: 8vw;
}

.home-features h2 {
  line-height: 1;
  margin-bottom: 1.3vw;
}

.home-features .subheading {
  margin-bottom: 1.5vw;
}

.home-features .link {
  margin-top: 2.6vw;
}

@media (min-width: 1024px) {
  .home-features .subheading {
    color: white;
  }
}

/* Swiper */
.home-features .swiper {
  margin: 4vw -1.5vw -40px -1.5vw;
}

.home-features .swiper-slide {
  padding: 24px 1.5vw 40px 1.5vw;
}

.home-features .card {
  background-color: white;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
  border-radius: .5vw;
  padding: 1.5vw 1.5vw 3vw 2vw;
}

.home-features .card img {
  height: 4vw;
  margin-bottom: 1.5vw;
}

.home-features .card h3 {
  margin-bottom: 1vw;
}

.home-features .card .line {
  height: 1px;
  width: 3.4vw;
  background-color: #F04F23;
  margin-bottom: 1vw;
}

/* Bg */
.home-features .bg,
.home-features .bg img,
.home-features .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-features {
    background-color: #F7F7F8;
    padding-top: 17.33vw;
    overflow: hidden;
  }

  .home-features .container {
    width: 90%;
    position: static;
    transform: none;
  }

  /* Text */
  .home-features .text {
    color: black;
    width: 100%;
    padding-left: 0;
  }

  .home-features .logo img {
    width: 22vw;
  }

  .home-features h2 {
    margin-bottom: 4vw;
  }

  .home-features .subheading {
    margin-bottom: 5.33vw;
  }

  .home-features .link {
    margin-top: 9.33vw;
  }

  /* Swiper */
  .home-features .swiper {
    margin: 0 -5%;
    overflow: visible;
    margin-top: 9.33vw;
  }

  .home-features .swiper-slide {
    padding: 0 2.66vw;
  }

  .home-features .card {
    border-radius: 1.33vw;
    padding: 6vw;
  }

  .home-features .card img {
    height: 14vw;
    margin-bottom: 3.33vw;
  }

  .home-features .card h3 {
    margin-bottom: 2.6vw;
  }

  .home-features .card .line {
    width: 8.8vw;
    margin-bottom: 2.6vw;
  }

  .home-features .swiper-pagination {
    bottom: -10vw;
  }

  /* Bg */
  .home-features .bg {
    margin-top: -10vw;
  }
}

/* #Products Slider
================================================== */
.products-slider {
  position: relative;
}

.products-slider .container {
  position: absolute;
  top: 7.3vw;
  left: 50%;
  transform: translate(-50%, 0);
  width: 91%;
}

.products-slider h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.products-slider .swiper {
  margin: 0 -1.3vw;
}

.products-slider .swiper-slide {
  padding: 0 1.3vw;
}

.products-slider .swiper-slide:nth-child(1),
.products-slider .swiper-slide:nth-child(3) {
  margin-top: 3.125vw;
}

.products-slider .product {
  background-color: white;
  border-radius: .5vw;
  display: flex;
  align-items: center;
  padding: 1vw;
}

.products-slider .product .img {
  flex: 0 0 11.2vw;
}

.products-slider .product .img img {
  width: 100%;
}

.products-slider .product .text {
  padding-right: 1.5vw;
}

.products-slider h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3vw;
}

.products-slider h3 .num {
  width: 3.125vw;
  height: 3.125vw;
  color: white;
  background-color: #DC0815;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: .5vw;
}

.products-slider p {
  margin-bottom: 1.5vw;
}

.products-slider ul {
  margin-bottom: 2.6vw;
}

.products-slider ul li {
  display: flex;
  align-items: center;
}

.products-slider ul li:not(:last-child) {
  margin-bottom: 1.25vw;
}

.products-slider ul li p {
  margin-bottom: 0;
  margin-right: .5vw;
}

.products-slider ul li img {
  height: 2vw;
}

/* Bg */
.products-slider .bg,
.products-slider .bg img,
.products-slider .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .products-slider {
    overflow: hidden;
  }

  .products-slider .container {
    top: 15vw;
    width: 100%;
  }

  .products-slider h2 {
    margin-bottom: 6.66vw;
  }

  .products-slider .swiper {
    margin: 0;
    overflow: visible;
  }

  .products-slider .swiper-slide {
    padding: 0 2.66vw;
  }

  .products-slider .swiper-slide:nth-child(1),
  .products-slider .swiper-slide:nth-child(3) {
    margin-top: 0;
  }

  .products-slider .product {
    border-radius: 1.33vw;
    padding: 5.33vw;
    align-items: flex-start;
  }

  .products-slider .product .img {
    flex: 0 0 28.5vw;
  }

  .products-slider .product .text {
    padding-right: 5.33vw;
  }

  .products-slider h3 {
    margin-bottom: 4vw;
  }

  .products-slider h3 .num {
    width: 10vw;
    height: 10vw;
    margin-left: 2vw;
  }

  .products-slider p {
    margin-bottom: 4vw;
  }

  .products-slider ul {
    margin-bottom: 4vw;
  }

  .products-slider ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }

  .products-slider ul li p {
    margin-right: 4vw;
  }

  .products-slider ul li img {
    height: 8vw;
  }

  .products-slider .swiper-pagination {
    bottom: -10vw;
  }
}

/* #Projects Slider
================================================== */
.projects-slider {
  margin-top: -28.9vw;
  position: relative;
  z-index: 1;
}

.projects-slider .container {
  background-color: #F7F7F8;
}

.projects-slider .text {
  transform: translateY(-24.47vw);
}

.projects-slider .swiper {
  transform: translateY(-23vw);
}

.projects-slider .text-center {
  color: black;
  transform: translateY(-20.4vw);
}

.projects-slider .text {
  width: 34.89vw;
  margin-right: 10.93vw;
}

.projects-slider h2 {
  margin-bottom: 2vw;
}

.projects-slider p {
  margin-bottom: 2.6vw;
}

.projects-slider .arrows {
  display: flex;
  align-items: center;
}

.projects-slider .arrows img {
  width: 2vw;
  border-radius: 50%;
  box-shadow: 12px 6px 12px rgba(12, 12, 106, 0.15);
  cursor: pointer;
}

.projects-slider .arrows .right {
  margin-left: 1vw;
}

.projects-slider .swiper-slide {
  padding: 0 3.125vw;
  height: 24.91vw;
  cursor: grab;
}

.projects-slider .swiper-slide .project-img img {
  height: 18.22vw;
}

.projects-slider .swiper-slide-active .project-img img {
  height: 22.65vw;
}

.projects-slider .project {
  position: relative;
  display: flex;
  height: 100%;
}

.projects-slider .project-img {
  margin-top: auto;
}

.projects-slider .project-img,
.projects-slider .project-img img {
  width: 100%;
}

.projects-slider .project-img img {
  object-fit: cover;
  object-position: center;
}

.projects-slider .swiper-slide .project-img {
  position: relative;
}

.projects-slider .swiper-slide-active .project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, transparent);
}

.projects-slider .project-text {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;
  padding: 1.5vw 1.3vw;
}

.projects-slider .swiper-slide .project-text {
  opacity: 0;
  visibility: hidden;
}

.projects-slider .swiper-slide-active .project-text {
  opacity: 1;
  visibility: visible;
}

.projects-slider .project h3 {
  margin-bottom: 1.3vw;
}

.projects-slider .project ul {
  display: flex;
}

.projects-slider .project ul li:not(:last-child) {
  margin-left: 1.5vw;
}

/* Bg */
.projects-slider .bg,
.projects-slider .bg img,
.projects-slider .bg picture {
  width: 100%;
}

@media (min-width: 1023.98px) {
  .projects-slider .swiper-slide-active {
    width: 38vw !important;
  }
}

@media (max-width: 1023.98px) {
  .projects-slider {
    margin-top: -20vw;
    overflow: hidden;
  }

  .projects-slider .text {
    transform: translateY(-10vw);
  }

  .projects-slider .swiper {
    transform: translateY(-10vw);
  }

  .projects-slider .text-center {
    display: none;
  }

  .projects-slider .text {
    width: 90%;
    margin-right: 5%;
  }

  .projects-slider h2 {
    margin-bottom: 6vw;
  }

  .projects-slider p {
    margin-bottom: 8.66vw;
  }

  .projects-slider .arrows {
    display: none;
  }

  .projects-slider .swiper {
    overflow: visible;
  }

  .projects-slider .swiper-slide {
    padding: 0 2.66vw;
    height: auto;
  }

  .projects-slider .swiper-slide .project-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, transparent);
  }

  .projects-slider .swiper-slide .project-img img,
  .projects-slider .swiper-slide-active .project-img img {
    height: 63.86vw;
  }

  .projects-slider .project {
    display: block;
  }

  .projects-slider .project-img {
    margin-top: 0;
  }

  .projects-slider .project-text {
    position: static;
    padding: 4vw 0 0 0;
    color: black;
  }

  .projects-slider .swiper-slide .project-text {
    opacity: 1;
    visibility: visible;
  }

  .projects-slider .project h3 {
    margin-bottom: 2.6vw;
  }

  .projects-slider .project-text p {
    margin-bottom: 2.6vw;
  }

  .projects-slider .project ul {
    display: block;
  }

  .projects-slider .project ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 2vw;
  }

}

/* #Home Clients
================================================== */
.home-clients {
  margin-top: -11.2vw;
  position: relative;
  z-index: 2;
  background-color: #F7F7F8;
}

.home-clients .text {
  width: 32.65vw;
  margin-right: auto;
  margin-left: 12.3vw;
  position: relative;
  z-index: 1;
  padding-left: 3.25vw;
}

.home-clients .logo img {
  width: 10.93vw;
}

.home-clients h2 {
  line-height: 1.25;
  margin: 1.5vw 0;
}

.home-clients .swiper-slide {
  padding: .75vw;
}

.home-clients .swiper-slide>div {
  background-color: white;
  height: 11.71vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  border-radius: .5vw;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
}

.home-clients .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-clients .bg {
  margin-top: -3vw;
}

/* Bg */
.home-clients .bg,
.home-clients .bg img,
.home-clients .bg picture {
  width: 100%;
}

@media (min-width: 1024px) {
  .home-clients .slider {
    width: 52.5vw;
    position: absolute;
    top: 0;
    right: 10.93vw;
    z-index: 1;
  }

  .home-clients .swiper {
    overflow: visible;
  }

  .home-clients .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .home-clients .swiper-slide {
    flex: 0 0 25%;
  }

  .home-clients .swiper-slide:nth-child(2) {
    margin-left: 14vw;
  }

  .home-clients .swiper-slide:nth-child(5) {
    margin-left: 5vw;
  }
}

@media (max-width: 1023.98px) {
  .home-clients {
    padding-top: 18vw;
    margin-top: 0;
    overflow: hidden;
  }

  .home-clients .text {
    width: 90%;
    margin: 0 auto 10vw auto;
    padding-left: 0;
  }

  .home-clients .logo img {
    width: 10.93vw;
  }

  .home-clients h2 {
    line-height: 1.25;
    margin: 1.5vw 0;
  }

  .home-clients .swiper {
    overflow: visible;
  }

  .home-clients .swiper-slide {
    padding: 0 2.33vw;
  }

  .home-clients .swiper-slide>div {
    height: 35.33vw;
    padding: 5.33vw;
    border-radius: 1.33vw;
  }

  .home-clients .bg {
    margin-top: -24.66vw;
  }
}

/* #Posts Slider
================================================== */
.posts-slider {
  padding: 2.6vw 0 4.95vw 0;
}

.posts-slider .container {
  width: 79%;
}

.posts-slider h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.posts-slider .text-center {
  margin-top: 3.125vw;
}

.posts-slider .swiper {
  margin: 0 -1.5vw;
}

.posts-slider .swiper-slide {
  padding: 0 1.5vw;
}

.posts-slider .card {
  border-radius: .5vw;
  overflow: hidden;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
}

.posts-slider .card .img,
.posts-slider .card .img img {
  width: 100%;
}

.posts-slider .card .text {
  padding: .75vw 1.5vw 1vw 1.5vw;
}

.posts-slider .card p {
  margin-bottom: 1.5vw;
}

.posts-slider .card a {
  display: flex;
  align-items: center;
}

.posts-slider .card a img {
  width: .75vw;
  margin-right: .5vw;
}

@media (min-width: 1024px) {
  .posts-slider .swiper {
    overflow: visible;
  }
}

@media (max-width: 1023.98px) {
  .posts-slider {
    padding: 0 0 13.33vw 0;
    overflow: hidden;
  }

  .posts-slider .container {
    width: 100%;
  }

  .posts-slider h2 {
    margin-bottom: 9.33vw;
  }

  .posts-slider .text-center {
    margin-top: 9.33vw;
  }

  .posts-slider .swiper {
    margin: 0;
    overflow: visible;
  }

  .posts-slider .swiper-slide {
    padding: 0 2.66vw;
  }

  .posts-slider .card {
    border-radius: 1.33vw;
  }

  .posts-slider .card .text {
    padding: 4vw 6vw 6vw 6vw;
  }

  .posts-slider .card p {
    margin-top: 2.66vw;
    margin-bottom: 5.33vw;
  }

  .posts-slider .card a img {
    width: 3.6vw;
    margin-right: 1.33vw;
  }
}

/* #Contact Form
================================================== */
.contact-form {
  position: relative;
}

.contact-form .container {
  width: 79%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .5vw;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
}

.contact-form .form {
  flex: 0 0 38vw;
}

.contact-form .text {
  flex: 0 0 28.7vw;
}

.contact-form .text .row {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: .75vw;
}

.contact-form .text .row img {
  width: 11.77vw;
}

.contact-form .text a {
  margin-top: 1.3vw;
  display: inline-block;
}

.contact-form .form .row {
  display: flex;
}

.contact-form .form .row:not(:last-child) {
  margin-bottom: 2.6vw;
}

.contact-form .form .col {
  flex-grow: 1;
}

.contact-form .form .col:first-child {
  padding-left: 1.5vw;
}

.contact-form .form .col:last-child {
  padding-right: 1.5vw;
}

.contact-form .form input,
.contact-form .form textarea {
  width: 100%;
  font-size: .83vw;
  border: none;
  color: black;
  line-height: 1.5;
}

.contact-form .form input::placeholder,
.contact-form .form textarea::placeholder {
  color: black;
}

.contact-form .form input {
  border-bottom: 1px solid #818181;
  padding-bottom: .5vw;
}

.contact-form .form textarea {
  border: 1px solid #818181;
  border-radius: .5vw;
  padding: .75vw .5vw;
  resize: none;
}

.contact-form .btn {
  margin: 0 auto;
}

.contact-form .btn img {
  width: 1vw;
  margin-right: .5vw;
}

/* Bg */
.contact-form .bg,
.contact-form .bg img,
.contact-form .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .contact-form .container {
    width: 90%;
    padding: 12vw 5.33vw;
    display: block;
    border-radius: 1.33vw;
  }

  .contact-form .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vw;
  }

  .contact-form .text .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 4vw;
  }

  .contact-form .text .row img {
    width: 46.66vw;
    margin-top: 2vw;
  }

  .contact-form .text a {
    margin-top: 1.3vw;
    display: inline-block;
  }

  .contact-form .form .row {
    display: block;
  }

  .contact-form .form .row:not(:last-child),
  .contact-form .form .col:not(:last-child) {
    margin-bottom: 7.33vw;
  }

  .contact-form .form .col:first-child {
    padding-left: 0;
  }

  .contact-form .form .col:last-child {
    padding-right: 0;
  }

  .contact-form .form input,
  .contact-form .form textarea {
    font-size: 4vw;
  }

  .contact-form .form input {
    padding-bottom: 2vw;
  }

  .contact-form .form textarea {
    border-radius: 1.33vw;
    padding: 2vw;
  }

  .contact-form .form .row:last-child {
    display: flex;
  }

  .contact-form .btn {
    margin: 0 auto;
  }

  .contact-form .btn img {
    width: 3.6vw;
    margin-right: 2vw;
  }
}

/* #Footer
================================================== */
.footer {
  padding: 8.33vw 0 2.9vw 0;
}

.footer .container {
  width: 77%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer .logo img {
  width: 12.76vw;
}

.footer .accordion {
  display: flex;
}

.footer .collapsible:not(:last-child) {
  margin-left: 4vw;
}

.footer .collapse-toggler {
  font-weight: bold;
  margin-bottom: .75vw;
}

.footer .collapse ul li:not(:last-child) {
  margin-bottom: .5vw;
}

.footer-bottom {
  margin-top: 7vw;
}

@media (min-width: 1024px) {
  .footer .collapse {
    height: auto !important;
  }
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 12.66vw 0 10vw 0;
  }

  .footer .container {
    width: 90%;
  }

  .footer-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer .logo img {
    width: 53.33vw;
  }

  .footer .logo {
    margin-bottom: 10vw;
  }

  .footer .accordion {
    display: block;
  }

  .footer .collapsible:not(:last-child) {
    margin-left: 0;
  }

  .footer .links {
    width: 100%;
  }

  .footer .collapsible {
    border-bottom: 1px solid #a8a8a8;
  }

  .footer .collapse-toggler {
    font-weight: bold;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 0;
  }

  .footer .collapse-toggler img {
    width: 3.73vw;
  }

  .footer .collapse ul li:not(:last-child) {
    margin-bottom: 2vw;
  }

  .footer .collapse>div {
    padding-top: 0;
    padding-bottom: 7vw;
  }

  .footer-bottom {
    margin-top: 11.33vw;
  }
}

/* #Project Body
================================================== */
.project-body {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
  margin-bottom: 8.33vw;
}

.project-body .container {
  width: 79%;
  margin-top: -14.5vw;
}

/* Tab Navigation */
.project-body .tab-navigation {
  margin-bottom: 3.9vw;
}

.project-body .tab-navigation ul {
  display: flex;
  flex-wrap: wrap;
}

.project-body .tab-navigation ul li:not(:last-child) {
  margin-left: 3.125vw;
}

.project-body .tab-btn {
  color: #818181;
  border-bottom: 3px solid transparent;
}

.project-body .tab-btn.active {
  color: #F04F23;
  border-bottom: 3px solid #F04F23;
}

/* Projects */
.project-body .projects {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5vw;
}

.project-body .project {
  flex: 0 0 50%;
  padding: 1.5vw;
}

.project-body .project .img,
.project-body .project .img img {
  width: 100%;
}

.project-body .project .text {
  padding: 2.35vw 0 .5vw 9vw;
}

.project-body .project .text p {
  margin: 1.3vw 0;
}

.project-body .project .text ul {
  display: flex;
  flex-wrap: wrap;
}

.project-body .project .text ul li:not(:last-child) {
  margin-left: 1.5vw;
}

@media (max-width: 1023.98px) {
  .project-body {
    margin-top: -21vw;
    margin-bottom: 20vw;
  }

  .project-body .container {
    width: 90%;
    margin-top: -25vw;
  }

  /* Tab Navigation */
  .project-body .tab-navigation {
    margin-bottom: 18vw;
  }

  .project-body .tab-navigation ul li:not(:last-child) {
    margin-left: 5.33vw;
  }

  /* Projects */
  .project-body .projects {
    display: block;
    margin: 0;
  }

  .project-body .project {
    padding: 0;
  }

  .project-body .project:not(:last-child) {
    margin-bottom: 10vw;
  }

  .project-body .project .text {
    padding: 10vw 0 0 0;
  }

  .project-body .project .text p {
    margin: 2.66vw 0 6vw 0;
  }

  .project-body .project .text ul {
    display: block;
  }

  .project-body .project .text ul li:not(:last-child) {
    margin-left: 0;
  }
}

/* #Blog Body
================================================== */
.blog-body {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
  padding-bottom: 8.33vw;
}

.blog-body .container {
  width: 79%;
  margin-top: -14.5vw;
}

/* Tab Navigation */
.blog-body .tab-navigation {
  margin-bottom: 2.4vw;
}

.blog-body .tab-navigation ul {
  display: flex;
  flex-wrap: wrap;
}

.blog-body .tab-navigation ul li:not(:last-child) {
  margin-left: 3.125vw;
}

.blog-body .tab-btn {
  color: #818181;
  border-bottom: 3px solid transparent;
}

.blog-body .tab-btn.active {
  color: #F04F23;
  border-bottom: 3px solid #F04F23;
}

/* Projects */
.blog-body .blog-posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5vw;
}

.blog-body .blog-post-card {
  flex: 0 0 25%;
  padding: 1.5vw;
}

.blog-body .card {
  border-radius: .5vw;
  overflow: hidden;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
}

.blog-body .card .img,
.blog-body .card .img img {
  width: 100%;
}

.blog-body .card .text {
  padding: .75vw 1.5vw 1vw 1.5vw;
}

.blog-body .card p {
  margin-bottom: 1.5vw;
}

.blog-body .card a {
  display: flex;
  align-items: center;
}

.blog-body .card a img {
  width: .75vw;
  margin-right: .5vw;
}

.blog-body .tabs .tab-panel {
  overflow: visible;
}

@media (max-width: 1023.98px) {
  .blog-body {
    margin-top: -21vw;
    padding-bottom: 20vw;
  }

  .blog-body .container {
    width: 90%;
    margin-top: -25vw;
  }

  /* Tab Navigation */
  .blog-body .tab-navigation {
    margin-bottom: 13vw;
  }

  .blog-body .tab-navigation ul li:not(:last-child) {
    margin-left: 5.33vw;
  }

  /* Projects */
  .blog-body .blog-posts {
    display: block;
    margin: 0;
  }

  .blog-body .blog-post-card {
    padding: 0;
  }

  .blog-body .blog-post-card:not(:last-child) {
    margin-bottom: 8vw;
  }

  .blog-body .card {
    border-radius: 1.33vw;
  }

  .blog-body .card .text {
    padding: 4vw 6vw 6vw 6vw;
  }

  .blog-body .card p {
    margin-top: 2.66vw;
    margin-bottom: 5.33vw;
  }

  .blog-body .card a img {
    width: 3.6vw;
    margin-right: 1.33vw;
  }
}

/* #Blog Post Body
================================================== */
.blog-post-body {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
  padding-bottom: 8.33vw;
}

.blog-post-body .container {
  width: 79%;
  margin-top: -17.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Sidebar */
.blog-post-body .sidebar {
  flex: 0 0 17.45vw;
  padding-top: 13vw;
}

.blog-post-body .sidebar h2 {
  text-align: center;
  margin-bottom: 1.5vw;
}

.blog-post-body .sidebar .blog-posts {
  display: block;
}

.blog-post-body .sidebar .blog-post-card:not(:last-child) {
  margin-bottom: 1.5vw;
}

.blog-post-body .sidebar .card {
  border-radius: .5vw;
  overflow: hidden;
  box-shadow: 15px 15px 24px rgba(12, 12, 106, 0.15);
}

.blog-post-body .sidebar .card .img,
.blog-post-body .sidebar .card .img img {
  width: 100%;
}

.blog-post-body .sidebar .card .text {
  padding: .75vw 1.5vw 1vw 1.5vw;
}

.blog-post-body .sidebar .card p {
  margin-bottom: 1.5vw;
}

.blog-post-body .sidebar .card a {
  display: flex;
  align-items: center;
}

.blog-post-body .sidebar .card a img {
  width: .75vw;
  margin-right: .5vw;
}

/* Main */
.blog-post-body .main {
  flex: 0 0 52.65vw;
}

.blog-post-body .main .post-img {
  margin: 3.125vw 0;
}

.blog-post-body .main .post-img img {
  width: 100%;
}

.blog-post-body .main h1 {
  margin-bottom: 1.5vw;
}

.blog-post-body .main .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: .5vw 0;
  margin: 3vw 0 1.5vw 0;
}

/* Social */
.blog-post-body .container>.social {
  flex: 0 0 100%;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 1vw 0;
  margin-top: 3.125vw;
}

.blog-post-body .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-post-body .social img {
  width: 3.125vw;
}

@media (max-width: 1023.98px) {
  .blog-post-body {
    margin-top: -21vw;
    padding-bottom: 20vw;
  }

  .blog-post-body .container {
    width: 90%;
    margin-top: -25vw;
    display: block;
  }

  /* Main */
  .blog-post-body .main .post-img {
    margin: 3.125vw 0;
  }

  .blog-post-body .main h1 {
    margin-bottom: 3vw;
    padding-left: 10%;
  }

  .blog-post-body .main .info {
    padding: 2vw 0;
    margin: 8vw 0;
  }

  /* Social */
  .blog-post-body .container>.social {
    padding: 2vw 0;
    margin-top: 13.33vw;
  }

  .blog-post-body .social img {
    width: 12vw;
  }
}

/* #Contact Body
================================================== */
.contact-body {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
}

.contact-body .container {
  width: 79%;
  margin-top: -17.5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

/* Form */
.contact-body .form {
  flex: 0 0 51.4vw;
}

.contact-body .form form {
  margin-top: 3.125vw;
}

.contact-body .form .row {
  display: flex;
}

.contact-body .form .row:not(:last-child) {
  margin-bottom: 2.6vw;
}

.contact-body .form .col {
  flex: 0 0 50%;
}

.contact-body .form .col:first-child {
  padding-left: 1.5vw;
}

.contact-body .form .col:last-child {
  padding-right: 1.5vw;
}

.contact-body .form input,
.contact-body .form textarea,
.contact-body .form select {
  width: 100%;
  font-size: .83vw;
  border: none;
  color: black;
  line-height: 1.5;
}

.contact-body .form input::placeholder,
.contact-body .form textarea::placeholder {
  color: black;
}

.contact-body .form input,
.contact-body .form select {
  border-bottom: 1px solid #818181;
  padding-bottom: .5vw;
}

.contact-body .form textarea {
  border: 1px solid #818181;
  border-radius: .5vw;
  padding: .75vw .5vw;
  resize: none;
}

.contact-body .btn {
  margin: 0 auto;
}

.contact-body .btn img {
  width: 1vw;
  margin-right: .5vw;
}

/* Bg */
.contact-body .bg,
.contact-body .bg img,
.contact-body .bg picture {
  width: 100%;
}

.contact-body .bg {
  z-index: -1;
  position: relative;
  margin-top: -9vw;
}

/* Info */
.contact-body .info h2 {
  margin-bottom: 1vw;
}

.contact-body .info li {
  display: flex;
  align-items: center;
}

.contact-body .info img {
  width: 3.125vw;
  margin-left: .5vw;
}

@media (max-width: 1023.98px) {
  .contact-body {
    margin-top: -21vw;
  }

  .contact-body .container {
    width: 90%;
    margin-top: -29vw;
    display: block;
  }

  /* Form */
  .contact-body .form form {
    margin-top: 8vw;
  }

  .contact-body .form .row {
    display: block;
  }

  .contact-body .form .row:not(:last-child),
  .contact-body .form .col:not(:last-child) {
    margin-bottom: 7.33vw;
  }

  .contact-body .form .col:first-child {
    padding-left: 0;
  }

  .contact-body .form .col:last-child {
    padding-right: 0;
  }

  .contact-body .form input,
  .contact-body .form textarea,
  .contact-body .form select {
    font-size: 4vw;
  }

  .contact-body .form input,
  .contact-body .form select {
    padding-bottom: 2vw;
  }

  .contact-body .form textarea {
    border-radius: 1.33vw;
    padding: 2vw;
  }

  .contact-body .form .row:last-child {
    display: flex;
  }

  .contact-body .btn {
    margin: 0 auto;
  }

  .contact-body .btn img {
    width: 3.6vw;
    margin-right: 2vw;
  }

  /* Bg */
  .contact-body .bg {
    position: relative;
    margin-top: 0;
  }

  /* Info */
  .contact-body .info {
    margin: 15.33vw 0 6.66vw 0;
  }

  .contact-body .info h2 {
    margin-bottom: 4vw;
  }

  .contact-body .info img {
    width: 13.33vw;
    margin-left: 2vw;
  }
}

/* #Longi About
================================================== */
.longi-about {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
  padding-bottom: 8.33vw;
  overflow: hidden;
}

.longi-about .container {
  margin-top: -17.5vw;
  width: 79%;
  position: relative;
  z-index: 2;
}

/* Numbers */
.longi-about .numbers {
  width: 52vw;
  text-align: center;
  margin-bottom: 2.6vw;
}

.longi-about .numbers .swiper-slide:not(:last-child) {
  border-left: 1px solid #D4D4D4;
}

/* Media Boxes */
.longi-about .media-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.longi-about .media-box:not(:last-child) {
  margin-bottom: 3.9vw;
}

.longi-about .media-box:nth-child(even) {
  flex-direction: row-reverse;
}

.longi-about .media-box h2 {
  line-height: 1.2;
  margin-bottom: 1.3vw;
}

.longi-about .media-box .img {
  flex: 0 0 38vw;
}

.longi-about .media-box .img>img {
  width: 100%;
}

.longi-about .media-box .text {
  flex: 0 0 30vw;
}

.longi-about .media-box .logo img {
  width: 8.7vw;
  margin-bottom: .5vw;
}

/* Swiper */
.longi-about .media-box .swiper {
  margin: 0 -1.5vw 0 -1.5vw;
}

.longi-about .media-box .swiper-slide {
  padding: 0 1.5vw 0 1.5vw;
}

.longi-about .media-box .card {
  border-radius: .5vw;
  padding: .75vw 1.5vw .75vw 2vw;
}

.longi-about .media-box .card img {
  height: 4vw;
  margin-bottom: 1.5vw;
}

.longi-about .media-box .card h3 {
  margin-bottom: 1vw;
}

.longi-about .media-box .card .line {
  height: 1px;
  width: 3.4vw;
  background-color: #F04F23;
  margin-bottom: 1vw;
}

/* Bg */
.longi-about .bg,
.longi-about .bg img,
.longi-about .bg picture {
  width: 100%;
}

.longi-about .bg-2 {
  margin-top: -30vw;
}

.longi-about .bg-2,
.longi-about .bg-2 img,
.longi-about .bg-2 picture {
  width: 100%;
}

/* Longi Page Overrides */
.longi-page .projects-slider {
  margin-bottom: -15vw;
}

.longi-page .projects-slider .container {
  background-color: white;
}

.longi-page .contact-form {
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {
  .longi-about .media-box .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .longi-about .media-box .swiper-slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 1023.98px) {
  .longi-about {
    margin-top: -21vw;
    padding-bottom: 20vw;
  }

  .longi-about .container {
    width: 90%;
    margin-top: -25vw;
    display: block;
  }

  /* Numbers */
  .longi-about .numbers {
    width: 80vw;
    margin-bottom: 5vw;
    line-height: 1;
  }

  .longi-about .numbers .swiper {
    padding-bottom: 15vw;
  }

  /* Media Boxes */
  .longi-about .media-box {
    display: block;
  }

  .longi-about .media-box:not(:last-child) {
    margin-bottom: 8vw;
  }

  .longi-about .media-box h2 {
    margin-bottom: 5.33vw;
  }

  .longi-about .media-box .img {
    margin-top: 7.33vw;
  }

  .longi-about .media-box .logo img {
    width: 22vw;
    margin-bottom: 2vw;
  }

  /* Swiper */
  .longi-about .media-box .swiper {
    margin: 0 -5%;
    overflow: visible;
    margin-top: 9.33vw;
  }

  .longi-about .media-box .swiper-slide {
    padding: 0 2.66vw;
  }

  .longi-about .media-box .card {
    border-radius: 1.33vw;
    padding: 6vw;
  }

  .longi-about .media-box .card img {
    height: 14vw;
    margin-bottom: 3.33vw;
  }

  .longi-about .media-box .card h3 {
    margin-bottom: 2.6vw;
  }

  .longi-about .media-box .card .line {
    width: 8.8vw;
    margin-bottom: 2.6vw;
  }

  .longi-about .media-box .swiper-pagination {
    bottom: -10vw;
  }

  /* Longi Page Overrides */
  .longi-page .projects-slider {
    margin-bottom: 0;
    margin-top: -40vw;
  }

  .longi-page .projects-slider .swiper {
    padding-bottom: 20vw;
  }

  .longi-about .bg-2 {
    margin-top: -200vw;
  }
}

/* #About Page
================================================== */
.about-body {
  position: relative;
  z-index: 1;
  margin-top: -14.5vw;
  padding-bottom: 8.33vw;
}

.about-body .container {
  margin-top: -17.5vw;
}

/* Media Boxes */
.about-body .media-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 3.125vw auto;
  width: 80%;
}

.about-body .media-box:nth-child(even),
.about-body .media-box.alt {
  flex-direction: row-reverse;
}

.about-body .media-box.alt {
  align-items: center;
  margin-top: 7.8vw;
}

.about-body .media-box h2 {
  line-height: 1.2;
  margin-bottom: 1.3vw;
}

.about-body .media-box .img {
  flex: 0 0 38vw;
}

.about-body .media-box .img>img {
  width: 100%;
}

.about-body .media-box .text {
  flex: 0 0 30vw;
}

.about-body .media-box .logo img {
  width: 10.9vw;
  margin-bottom: 1vw;
}

.about-body .media-box ul {
  display: flex;
  margin-top: 2.5vw;
}

.about-body .media-box ul li {
  display: flex;
  align-items: center;
}

.about-body .media-box ul li:not(:last-child) {
  margin-left: 2vw;
}

.about-body .media-box ul img {
  height: 2.5vw;
  margin-left: .5vw;
}

/* Vision */
.about-vision .text {
  padding-top: 1vw;
  margin: 0 auto;
  width: 38%;
  margin-bottom: -27.18vw;
  position: relative;
  z-index: 2;
}

.about-vision h2 {
  margin-bottom: 1.3vw;
}

.about-vision ul {
  margin: -1.3vw -1.5vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.8vw;
}

.about-vision li {
  flex: 0 0 50%;
  padding: 1.3vw 1.5vw;
}

.about-vision .card {
  border-radius: .5vw;
}

.about-vision .card img {
  height: 4vw;
  margin-bottom: 1.5vw;
}

.about-vision .card h3 {
  margin-bottom: 1vw;
}

.about-vision .card .line {
  height: 1px;
  width: 3.4vw;
  background-color: #F04F23;
  margin-bottom: 1vw;
}

.about-vision .img,
.about-vision .img img,
.about-vision .img picture {
  width: 100%;
}

/* Img */
.about-img,
.about-img img,
.about-img picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .about-body {
    margin-top: -21vw;
    padding-bottom: 20vw;
  }

  .about-body .container {
    margin-top: -57vw;
    display: block;
  }

  .about-page .banner .text {
    top: 42%;
  }

  /* Media Boxes */
  .about-body .media-box {
    display: block;
    margin: 0 auto 3.125vw auto;
    width: 88%;
  }

  .about-body .media-boxes:first-child .media-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-body .media-boxes:first-child .media-box .img {
    width: 55.33vw;
    margin-bottom: 8.66vw;
  }

  .about-body .media-box.alt {
    margin-top: 13.33vw;
  }

  .about-body .media-box h2 {
    margin-bottom: 3vw;
  }

  .about-body .media-box .img {
    flex: 0;
  }

  .about-body .media-box .text {
    flex: 0;
  }

  .about-body .media-box .logo img {
    width: 31.73vw;
    margin-bottom: 3vw;
  }

  .about-body .media-box ul {
    margin-top: 8vw;
    margin-bottom: 6.66vw;
  }

  .about-body .media-box ul li:not(:last-child) {
    margin-left: 2vw;
  }

  .about-body .media-box ul li {
    align-items: flex-start;
  }

  .about-body .media-box ul img {
    height: 12vw;
    margin-left: 2.66vw;
  }

  .about-body .media-box ul br {
    display: none;
  }

  /* Vision */
  .about-vision .text {
    padding-top: 10vw;
    margin: 0 auto;
    width: 90%;
    margin-bottom: -65vw;
  }

  .about-vision h2 {
    margin-bottom: 3vw;
  }

  .about-vision ul {
    display: block;
    margin: 6vw 0 -4vw 0;
  }

  .about-vision li {
    padding: 4vw 0;
    width: 90%;
  }

  .about-vision .card h3 {
    margin-bottom: 2.6vw;
  }

  .about-vision .card .line {
    width: 8.8vw;
    margin-bottom: 2.6vw;
  }
}

/* #Team Slider
================================================== */
.team-slider {
  position: relative;
  z-index: 1;
  margin-top: 6.25vw;
}

.team-slider .text {
  width: 34.89vw;
  margin-right: 10.93vw;
}

.team-slider h2 {
  margin-bottom: 2vw;
}

.team-slider p {
  margin-bottom: 2.6vw;
}

.team-slider .arrows {
  display: flex;
  align-items: center;
}

.team-slider .arrows img {
  width: 2vw;
  border-radius: 50%;
  box-shadow: 12px 6px 12px rgba(12, 12, 106, 0.15);
  cursor: pointer;
}

.team-slider .arrows .right {
  margin-left: 1vw;
}

/* Slides */
.team-slider .swiper-slide {
  padding: 0 1.5vw;
  height: 32.13vw;
  cursor: grab;
}

.team-slider .swiper-slide .person-img img {
  height: 20.52vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.team-slider .swiper-slide-active .person-img img {
  height: 32.13vw;
}

.team-slider .person {
  position: relative;
  display: flex;
  height: 100%;
}

.team-slider .person-img {
  margin-top: auto;
}

.team-slider .person-img,
.team-slider .person-img img {
  width: 100%;
}

.team-slider .person-img img {
  object-fit: cover;
  object-position: center;
}

.team-slider .swiper-slide .person-img {
  position: relative;
}

.team-slider .swiper-slide-active .person-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to top, black, transparent);
}

.team-slider .person-text {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;
  padding: 1vw 1.3vw;
}

.team-slider .swiper-slide .person-text {
  opacity: 0;
  visibility: hidden;
}

.team-slider .swiper-slide-active .person-text {
  opacity: 1;
  visibility: visible;
}

.team-slider .person h3 {
  margin-bottom: .5vw;
}

.team-slider .person ul {
  display: flex;
}

.team-slider .person p {
  margin: 0;
}

.team-slider .person .line {
  height: 1px;
  width: 1.5vw;
  background-color: #F04F23;
  margin-bottom: .5vw;
}

/* Bg */
.team-slider .bg,
.team-slider .bg img,
.team-slider .bg picture {
  width: 100%;
}

/* Static Text */
.team-slider .static-text {
  position: absolute;
  top: 6vw;
  left: 10vw;
  width: 17.44vw;
}

.team-slider .static-text p {
  margin-bottom: .75vw;
}

.team-slider .static-text a {
  display: flex;
  align-items: center;
}

.team-slider .static-text a img {
  width: 1vw;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .team-slider {
    overflow: hidden;
    margin-top: 13.33vw;
  }

  .team-slider .text {
    width: 90%;
    margin-right: 5%;
  }

  .team-slider h2 {
    margin-bottom: 3vw;
  }

  .team-slider p {
    margin-bottom: 0;
  }

  /* Static Text */
  .team-slider .static-text {
    position: static;
    width: 90%;
    margin: 0 auto;
    margin-top: 28.66vw;
  }

  .team-slider .static-text p {
    margin-bottom: 2vw;
  }

  .team-slider .static-text a img {
    width: 4.4vw;
    margin-right: 2vw;
  }

  /* Slides */
  .team-slider .swiper {
    padding-right: 2%;
  }

  .team-slider .swiper-slide {
    padding: 0 2vw;
    height: 64.4vw;
  }

  .team-slider .swiper-slide .person-img img {
    height: 41.2vw;
  }

  .team-slider .swiper-slide-active .person-img img {
    height: 64.4vw;
  }

  .team-slider .person-text {
    padding: 2.66vw;
    text-align: center;
  }

  .team-slider .person p {
    margin: 0;
  }

  .team-slider .person .line {
    display: none;
  }

  /* Arrows */
  .team-slider .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(calc(72vw + 100%));
  }
  
  .team-slider .arrows img {
    width: 11.33vw;
  }
  
  .team-slider .arrows .right {
    margin-left: 4.66vw;
  }

}